<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoPlot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoPlot.Properties.Settings>
            <setting name="NoPlotId" serializeAs="String">
                <value>NPLT</value>
            </setting>
            <setting name="ServiceState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskBefore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabName" serializeAs="String">
                <value>LMN</value>
            </setting>
            <setting name="PanelName" serializeAs="String">
                <value>Tools</value>
            </setting>
        </NoPlot.Properties.Settings>
    </userSettings>
</configuration>